Repository Nordix/Meridio-Operator, pull requests merged in 2022-09, with the labels that each got.

#115 Helm chart to manage template files
  Makefile
  config/manager/kustomization.yaml
  config/templates/charts/meridio/Chart.yaml
  config/templates/charts/meridio/deployment/ipam-service.yaml
  config/templates/charts/meridio/deployment/ipam.yaml
  config/templates/charts/meridio/deployment/lb-fe.yaml
  config/templates/charts/meridio/deployment/nse-vlan.yaml
  config/templates/charts/meridio/deployment/nsp-service.yaml
  config/templates/charts/meridio/deployment/nsp.yaml
  config/templates/charts/meridio/deployment/pdb.yaml
  config/templates/charts/meridio/deployment/proxy.yaml
  config/templates/charts/meridio/deployment/role-binding.yaml
  config/templates/charts/meridio/deployment/role.yaml
  config/templates/charts/meridio/deployment/service-account.yaml
  config/templates/charts/meridio/templates/deployment-templates.yaml
  config/templates/charts/meridio/values.yaml
  config/templates/kustomization.yaml
Labels: kind/enhancement, area/CI, priority/low, size/M

#125 BGP Authentication
  api/v1alpha1/gateway_types.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/meridio.nordix.org_gateways.yaml
  config/manager/manager.yaml
  config/rbac/fe_role.yaml
  config/rbac/fe_role_binding.yaml
  config/rbac/fe_service_account.yaml
  config/rbac/kustomization.yaml
  config/templates/charts/meridio/deployment/lb-fe.yaml
  controllers/attractor/lb-fe.go
  controllers/common/const.go
  controllers/trench/configmap.go
  go.mod
  go.sum
Labels: kind/enhancement, concept/trench, concept/attractor, concept/gateway, area/security, area/networking, size/M

#110 Destination Port Nats in conduit
  api/v1alpha1/conduit_types.go
  api/v1alpha1/conduit_webhook.go
  api/v1alpha1/zz_generated.deepcopy.go
  config/crd/bases/meridio.nordix.org_conduits.yaml
  controllers/trench/configmap.go
Labels: kind/enhancement, concept/conduit, area/networking, area/configuration, size/M
